<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
        <div id="counter"></div>
        <button id="addBtn">+</button>
        <button id="minusBtn">-</button>
        <script >
        
            import {createStore} from 'redux';
            var reducer = (state = 0, action) => {
                if (!action) return state;
                console.log(action);
                switch (action.type) {
                    case 'INCREMENT':
                        return state + 1;
                    case 'DECREMENT':
                        return state - 1;
                    default:
                        return state;
                }
            }
            var store = createStore(reducer);
            store.subscribe(function () {
                document.querySelector('#counter').innerHTML = store.getState();
            });

            document.querySelector('#addBtn').addEventListener('click', function () {
                store.dispatch({type: 'INCREMENT'});
            });
            document.querySelector('#minusBtn').addEventListener('click', function () {
                store.dispatch({type: 'DECREMENT'});
            });
                    
        </script>
</body>
</html>