<head>
    <title>servicework--2</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <!-- <link rel="manifest" href="manifest.json"> -->
  </head>
  <body>
    <div class="revision">servicework--2</div>
    <img src="imgs/pwa-fonts.png">
    <!-- <div class="main-text">
      Minimal PWA, open Console for more!
    </div> -->
    <div class="network-message">
      Network:
      <span id="network-status" class="">Good</span>
    </div>
  </body>